

#main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
}


.nav{
    border-right: 1px solid black;

}

.nav-item{
    border: 1px solid black;
    cursor: pointer;
}

.nav-item:hover{
    color: #fff;
    background: #000;
}