html {
    scroll-behavior: smooth;
  }
  

/* Navbar */

.navbar{
    font-family: 'Abhaya Libre', serif;
    color: #494545;
}

.navbar-brand{
    color: #494545 !important;
    font-size: 2rem;
}









/* Main */

#homepage {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.homepage-main-content{
    font-family: 'Abhaya Libre', serif;
    color: #494545;
    text-align: center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-hr-light{
    width: 70vw;
    border: 1px solid #c8d0d8;
}

.home-hr-dark{
    width: 80vw;
    border: 1px solid #c4b665;
}

.home-hr-green{
    width: 90vw;
    border: 1px solid #1dfd11;
}


#specialties{
    width: 100%;
    height: 40vh;
}

#services, #gallery, #contact{
    width: 100%;
    height: 80vh;
    border-top: 1px solid #1dfd11;
    scroll-behavior: smooth; 
}

#main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 12px;
    color: #c8d0d8;
    background: #000;
}

.mini_heading_underline{
    background: #c4b665;
    width: 10vw;
}

.boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.box{
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 800px) {

    .boxes{
        display: inline;
    }

    .box{
        margin: auto;
        padding: 15px;
        border-bottom: 0.25px solid #c8d0d8;;
    }

    #services, #gallery, #contact{
        height: auto;
    }


}